fastapi[standard]
pydantic 
typing 
openpyxl 
boto3
setuptools
scikit-learn
python-multipart
fsspec
s3fs
streamlit
matplotlib
seaborn
plotly
uvicorn
mlflow==2.12.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.6.1
xgboost==3.0.3
psutil==5.9.0
scipy==1.13.0